.header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    padding: 10px;
    max-width: 90%;
}

.links_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.link.active {
    border-bottom: 2px solid var(--second-color);
}
