.icon {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.dark {
    background-image: url(shared/assets/theme-dark.svg);
}

.light {
    background-image: url(shared/assets/theme-light.svg);
}
